In [2]:
import pandas as pd

df = pd.read_csv("data/ground_truth_files/rn005_nonspecific_human_chipseq.tsv", sep="\t")
df.head()

  Source                                Target  Relationship
0  23601  AASDHPPT  Transcriptional_Regulation           NaN
1  23601      AATF  Transcriptional_Regulation           NaN
2  23601   ABCA17P  Transcriptional_Regulation           NaN
3  23601     ABCA1  Transcriptional_Regulation           NaN
4  23601     ABCA3  Transcriptional_Regulation           NaN

In [3]:
tf_tg_df = pd.read_parquet("data/processed/PBMC/LINGER_PBMC_SC_DATA/tf_tg_regulatory_potential.parquet")
tf_tg_df.head()

          TG  reg_potential  motif_density   TF
0    5S_rRNA      18.264618       7.211557  Ahr
1  5_8S_rRNA       1.941384       3.367296  Ahr
2        7SK      22.887488       6.758095  Ahr
3       A1BG      23.912728       4.454347  Ahr
4   A1BG-AS1      42.258774       4.454347  Ahr

In [ ]:
print(f"Number of unique TFs: {tf_tg_df['TF'].nunique()}")
print(f"Number of unique TGs: {tf_tg_df['TG'].nunique()}")
print(f"Number of unique edges: {tf_tg_df.shape[0]}")

Number of unique TFs: 240
Number of unique TGs: 40649
Number of unique edges: 9755760

In [6]:
unlabeled_tf_tg_df = pd.read_parquet("data/processed/PBMC/LINGER_PBMC_SC_DATA/tf_tg_data_unlabeled.parquet")
unlabeled_tf_tg_df.head()

,TF,TG,reg_potential,motif_density,mean_tf_expr,mean_tg_expr,expr_product,log_reg_pot,motif_present
0,AHR,AL627309.1,0.0,0.0,0.071921,0.000042,3.018726e-06,0.0,0
1,AHR,AL627309.5,0.0,0.0,0.071921,0.000266,1.913705e-05,0.0,0
2,AHR,AL627309.4,0.0,0.0,0.071921,0.000027,1.952958e-06,0.0,0
3,AHR,AL669831.2,0.0,0.0,0.071921,0.000007,5.151246e-07,0.0,0
4,AHR,LINC01409,0.0,0.0,0.071921,0.000327,2.348392e-05,0.0,0

In [7]:
print(f"Number of unique TFs: {unlabeled_tf_tg_df['TF'].nunique()}")
print(f"Number of unique TGs: {unlabeled_tf_tg_df['TG'].nunique()}")
print(f"Number of unique edges: {unlabeled_tf_tg_df.shape[0]}")

Number of unique TFs: 240
Number of unique TGs: 24955
Number of unique edges: 5989200